header{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
}
.foto {
    text-align: center;
  max-width:500px;
  height: auto;
  object-fit: cover;         
  display: block;            
  margin: 20px auto;
  margin-bottom: 40px;
  border-radius: 10px;     
  box-shadow: 0 0 10px #ccc; }
.centralizacao{
    display: flex;
  justify-content: center;  
  flex-wrap: wrap;       
  gap: 10px;
}
.centraliza {
  text-align: center;
  background-color: white;
  font: 200;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 18px;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#menu-icon {
  font-size: 30px;
  cursor: pointer;
  margin-right: 20px;
}
#side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  margin: auto;
  background-color: #000000;
  color: #fffdfd;
  display: flex;
  flex-direction:column;
  padding: 0px;
  gap: 5px;
  transition: left 0.3s ease;
  z-index: 999;
  overflow-y: auto;
}
#side-menu.active {
  left: 0; 
}
#side-menu a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
main{
  padding-top: 100px;
  margin: 5px;
}
strong,h1{
  margin: 5px;
}
body, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  z-index: 1000;
}
a{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  margin: 15px;
}
div{
  margin: 10px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}
 #menu-icon {
    font-size: 30px;
    cursor: pointer;
  }
.Título{
  text-align: center;
}
h1{
  text-align: center;
  font-family:"Roboto";
}
footer{
  background-color:#6ca3cf;
  color:white;
  text-align:center;
  width:auto;
  margin: auto;
  padding: 1px;
}
/* Ajustes gerais para telas menores */
@media (max-width: 768px) {
  .foto {
    width: 90%;
    height: auto;
    max-width: 100%;
  }

  .centralizacao {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
  }

  #menu-icon {
    font-size: 26px;
    margin-right: 10px;
  }

  #side-menu {
    width: 70%;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  .centraliza {
    margin: 10px;
  }

  footer {
    padding: 10px;
    font-size: 14px;
  }
}
.foto {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 40px;
}
 html {
  font-size: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 90%;
  }
}
